@import '../variables.scss';

.Item {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  cursor: pointer;

  &__image {
    max-width: 40px;
  }

  &__info {
    flex-grow: 1;
    margin-left: 10px;
  }

  &__value {
    color: $primary-color;
    font-weight: 600;
  }
  
  &:hover {
    background-color: #DDD;
  }
}
